footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(235, 235, 235);  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-size: 12px;
  padding-top: 6px; 
  padding-left: 0px; 
  text-align: right;
  font-family: Fascinate;
}

@media(min-width: 1024px) {
  footer{
    font-size: 15px;
  }
}