body{
  background-image: url(layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 2vw 3vw;
  font-family: Inter;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

@media (min-width:768px) {
  body{
    padding: 5vw;
  }
}

@media(min-width: 1024px) {
  body{
    padding: 9vw;
  }
}