.container{
  width: 90%;
  max-width: 1100px;
  margin: 100px auto 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 2.5vw;
  padding: 1vw 0.5vw;
  font-family: Inter, Roboto, Arial;
}

:root {
  --text-dark: #1a1a1a;
  --text-light: #636364;
}

.heading{
  color: white;
  color: var(--text-dark);
  line-height: 1.15;
  font-size: 13vw;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.info{
  color: var(--text-light);
  line-height: 1.4;
  font-size: 5vw;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.main-buttons{
  padding-top: 5vw;
}

.get-started-button{
  font-size: 0.8rem;
  border: none;
  padding: 0.8rem 1rem;
  background-color: rgb(4, 18, 80);
}

.learn-more-button{
  font-size: 0.75rem;
  border: none;
  padding: 0.8rem 1rem;
  background-color:  #1A1A1A;;
}

@media (min-width: 768px) {
  .container{
    max-width: 600px;
    padding: 5vw 4vw;
  }

  .heading, .word {
    font-size: 8vw;
  }

  .info{
    font-size: 4vw;
  }

  .get-started-button{
  font-size: 1.2rem;
  padding: 1.1rem 0.7rem;
}

.learn-more-button{
  font-size: 1.2rem;
  padding: 1.1rem 0.7rem;
}
}

@media (min-width: 1024px) {
  .container {
    padding: 70px 50px;
    max-width: 1100px;
  }

  .heading, .word {
    font-size: 9vw;
  }

  .info{
    font-size: 4vw;
  }

  .sub-word {
    color: #1A1A1A;
  }

  .get-started-button{
  font-size: 1.3rem;
  padding: 1.3rem 1rem;
}

.learn-more-button{
  font-size: 1.3rem;
  padding: 1.3rem 1rem;
}
}