.container{
  font-family: Inter;
  font-size: larger;
  max-width:300px;
}

.heading{
  color: #1A1A1A;
  font-size: 50px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.word{
  font-family: IBM Plex Mono;
  color: white;
  font-size: 50px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.info{
  color: white;
  padding-top: 30px;
  font-size: 27px;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);
}

.main-buttons{
  padding-top: 50px
}

.get-started-button{
  border: none;
  padding: 10px;
  background-color: rgb(4, 18, 80);
}

.learn-more-button{
  border: none;
  padding: 10px;
  background-color:  #1A1A1A;;
}

@media (min-width: 768px) {
  .container{
    max-width: 600px;
  }

  .heading, .word {
    font-size: 70px;
  }

  .info{
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }

  .heading, .word {
    font-size: 120px;
  }

  .info{
    font-size: 50px;
  }

  .sub-word {
    padding-left: 20px;
    font-size: 40px;
    color: #1A1A1A;
  }

  .main-buttons {
    padding-left: 24px;
  }

  .get-started-button{
  font-size: 20px;
  padding: 20px;
}

.learn-more-button{
  font-size: 20px;
  padding: 20px;
}
}